<div *ngIf="account === null" class="card">
  <h3 class="card-header text-bg-secondary">
    Odaberite račun
  </h3>
  <div class="card-body row justify-content-center g-3">
    <button *ngFor="let a of accounts" class="btn btn-outline-secondary col-8" (click)="account = a"
      [routerLink]="a.iban">{{a.iban}} ({{a.currency}})</button>
  </div>
</div>

<div *ngIf="account !== null" class="card">
  <h3 class="card-header text-bg-secondary">Račun {{account.iban}}</h3>
  <router-outlet></router-outlet>
  <div class="card-footer">
    <button class="btn btn-secondary" (click)="account = null" routerLink="/main/atm">Izađi</button>
  </div>
</div>