<div *ngIf="error" class="alert alert-danger">
    {{error}}
</div>

<div class="table-responsive">
    <table class="table table-striped text-center align-middle">
        <thead>
            <tr>
                <th scope="col">Isplaćeno</th>
                <th scope="col">Pošiljatelj</th>
                <th scope="col">Uplaćeno</th>
                <th scope="col">Primatelj</th>
                <th scope="col">Vrijeme</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.sent | currency:transaction.sentCurrency}}</td>
                <td>{{transaction.sender ? transaction.sender : 'bankomat'}}</td>
                <td>{{transaction.received | currency:transaction.receivedCurrency}}</td>
                <td>{{transaction.receiver ? transaction.receiver : 'bankomat'}}</td>
                <td>{{transaction.time_stamp | date:"dd.MM.yyyy. HH:mm"}}</td>
            </tr>
        </tbody>
    </table>
</div>