<div class="container mt-3">
  <div *ngIf="tokenExpired" class="alert alert-danger">
    Your session has expired
  </div>
  <form>
    <div class="mb-3">
      <label class="form-label" for="email">E-mail</label>
      <input class="form-control" type="email" name="email" id="email" [(ngModel)]="email">
    </div>

    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" [(ngModel)]="password">
    </div>

    <div class="d-flex justify-content-center gap-3">
      <button (click)="login()" class="btn btn-primary">Login</button>
      <button class="btn btn-secondary" routerLink="/register">Register</button>
    </div>
  </form>

  <div *ngIf="message != ''">
    Error: {{message}}
  </div>
</div>