<form #paymentForm="ngForm" (ngSubmit)="onSend()" [hidden]="submitted" class="mt-2">
    <div class="mb-3">
        <label for="sener" class="form-label">Račun za isplatu</label>
        <select id="sender" class="form-select" (change)="senderChanged($event.target)">
            <option *ngFor="let account of accounts" [value]="account.iban">{{account.iban}} ({{account.balance |
                currency:account.currency}})</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="account" class="form-label">Račun za uplatu</label>
        <input type="text" name="account" id="account" #account="ngModel" class="form-control" required
            [(ngModel)]="receivingIban" (change)="receiverChanged()">
        <div class="form-text">IBAN računa za uplatu</div>
        <div class="alert alert-danger" [hidden]="receivingAccount === undefined || receivingAccount !== null">
            Račun ne postoji
        </div>
        <div class="alert alert-info" *ngIf="receivingAccount">
            Novac će biti uplaćen na račun vlasnika {{receivingAccount.owner}} u valuti {{receivingAccount.currency}}
        </div>
    </div>

    <div class="mb-3">
        <label for="amount">Iznos</label>
        <div class="input-group">
            <input type="number" name="amount" id="amount" class="form-control" value="0" [(ngModel)]="amount" min="0"
                [max]="currentAccount?.balance ?? 0">
            <span class="input-group-text">{{currentAccount?.currency}}</span>
        </div>
    </div>

    <div class="mb-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary"
            [disabled]="!(paymentForm.form.valid && receivingAccount)">Uplati</button>
    </div>
</form>

<div [hidden]="!submitted" class="mt-2">
    <div class="alert alert-success">
        Novac uspješno uplaćen
    </div>
    <button class="btn btn-primary" (click)="reload()">Povratak na uplatu</button>
</div>